.navbar {
  background-color: #111;
  padding: 1rem 2rem;
  color: white;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-logo h1 {
  margin: 0;
  color: white;
}

.navbar-links {
  list-style: none;
  display: flex;
  gap: 2rem;
  margin: 0;
  padding: 0;
}

.navbar-links li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.navbar-links li a:hover {
  text-decoration: underline;
}
